/* === Landing page - colors === */

.landingPage_fil1 {
  fill: #605d5c;
}
.landingPage_fil3 {
  fill: #dededd;
}
.landingPage_fil2 {
  fill: white;
}
.landingPage_fil4 {
  fill: #3978a1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.offer_cnt {
  background-color: #121212;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.offer_icon_cnt {
  background-color: #222;
  width: 20vw;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px #fff;
  transition: box-shadow ease-in-out 0.25s, background-color ease-in-out 0.4s;
}

/* ====== LANDING PAGE ICON ====== */

.landingPage_icon_svg {
  width: 12vw;
  height: auto;
  display: flex;
  transform: rotate(-45deg);
  fill-rule: evenodd;
  clip-rule: evenodd;
  transition: ease-in-out 0.4s;
}

.landingPage_icon_svg .mobile circle {
  transition: ease-in-out 0.25s;
}

.offer_icon_cnt:hover {
  box-shadow: 0px 0px 25px 0px #ff8a00;
  background-color: #111;
}

/* == HOVER state - landing Page icon == */

.offer_icon_cnt:hover .landingPage_icon_svg {
  transform: rotate(-45deg) scale(1.1);
}

.offer_icon_cnt:hover .landingPage_icon_svg .mobile circle:nth-of-type(1),
.offer_icon_cnt:hover
  .landingPage_icon_svg
  .desctop_inside
  circle:nth-of-type(1) {
  fill: green;
  stroke: #fff;
  stroke-width: 1px;
}

.offer_icon_cnt:hover .landingPage_icon_svg .mobile circle:nth-of-type(2),
.offer_icon_cnt:hover
  .landingPage_icon_svg
  .desctop_inside
  circle:nth-of-type(2) {
  fill: orange;
  transition-delay: 0.1s;
  stroke: #fff;
  stroke-width: 1px;
}

.offer_icon_cnt:hover .landingPage_icon_svg .mobile circle:nth-of-type(3),
.offer_icon_cnt:hover
  .landingPage_icon_svg
  .desctop_inside
  circle:nth-of-type(3) {
  fill: red;
  transition-delay: 0.2s;
  stroke: #fff;
  stroke-width: 1px;
}

/* ================== SPA ICON ================== */

@keyframes spaAnimation {
  0% {
    filter: drop-shadow(0px 0px 0px #fff);
  }

  /*  50% {
    filter: drop-shadow(0px 0px 2px #fff);
  } */

  100% {
    filter: drop-shadow(0px 0px 4px #fff);
  }
}
.spaIcon_str0 {
  stroke: #1f1a17;
  stroke-width: 0.0731252;
}
.spaIcon_str2 {
  stroke: white;
  stroke-width: 0.479824;
}
.spaIcon_str1 {
  stroke: white;
  stroke-width: 0.719737;
}
.spaIcon_fil4 {
  fill: none;
}

.spaIcon_fil0 {
  fill: #1f1a17;
}
.spaIcon_fil6 {
  fill: #4d4948;
}
.spaIcon_fil1 {
  fill: #e77817;
}
.spaIcon_fil5 {
  fill: white;
}
.spaIcon_fil2 {
  fill: #044363;
}
.spaIcon_fil3 {
  fill: red;
}

.offer_cnt .spa_icon {
  margin-top: 30vh;
  margin-left: 15vh;
  margin-right: 15vh;
}

.spa_icon_svg {
  width: 14vw;
  height: auto;
  display: flex;
  transform: rotate(-45deg);
  fill-rule: evenodd;
  clip-rule: evenodd;
  transition: all ease-in-out 0.25s;
}

.spa_backCircle {
  transition: all ease-in-out 0.5s;
  transform: scale(0.4);
  transform-origin: center;
}

.offer_icon_cnt:hover .spa_icon_svg {
  transform: scale(1.15) rotate(-45deg);
  transform-origin: center;
}

.offer_icon_cnt:hover .spa_backCircle {
  fill: #fff;
  transform: scale(1);
  animation: spaAnimation 0.5s ease-in-out infinite both alternate;
  /*  filter: drop-shadow(0px 0px 4px #fff); */
}

/* ================== DEPLOY ICON ================== */

@keyframes deployArrow {
  0% {
    transform: translateY(0px);
  }

  45% {
    transform: translateY(10px);
  }

  80% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0px);
  }
}

.deploy_fil5 {
  fill: #1f1a17;
}
.deploy_fil1 {
  fill: #605d5c;
}
.deploy_fil4 {
  fill: #da251d;
}
.deploy_fil2 {
  fill: white;
}
.deploy_fil3 {
  fill: #064363;
}

.deploy_icon_svg {
  width: 12vw;
  height: auto;
  display: flex;
  transform: rotate(-45deg);
  fill-rule: evenodd;
  clip-rule: evenodd;
  transition: all ease-in-out 0.25s;
}

.offer_icon_cnt:hover .deploy_icon_svg {
  transform: scale(1.15) rotate(-45deg);
  transform-origin: center;
}

.offer_icon_cnt:hover .deploy_arrow {
  animation: deployArrow linear 1s infinite;
}
@keyframes serverLamp {
  0% {
    fill: #fff;
  }
  10% {
    fill: green;
  }

  20% {
    fill: rgb(238, 255, 0);
  }
  30% {
    fill: rgb(255, 174, 0);
  }
  50% {
    fill: green;
  }
  80% {
    fill: rgb(238, 255, 0);
  }

  100% {
    fill: rgb(255, 174, 0);
  }
}

.deploy_serverLamp {
  transition: all ease-in-out;
}

.offer_icon_cnt:hover .deploy_serverLamp:nth-of-type(1) {
  animation: serverLamp 1.75s infinite both alternate;
}

.offer_icon_cnt:hover .deploy_serverLamp:nth-of-type(2) {
  animation: serverLamp 1.5s 0.5s infinite both alternate;
}

.offer_icon_cnt:hover .deploy_serverLamp:nth-of-type(3) {
  animation: serverLamp 2s -1s infinite both alternate;
}
